# Configure required values explicitly outside version control.
MONGO_URI=
PG_IDENTITY_CONNECTION=
PG_ACADEMIC_CONNECTION=
DRY_RUN=
DEFAULT_SCHOOL_NAME=
OLD_FILES_ROOT=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_FOLDER=
