# API Configuration
VITE_IDENTITY_API_URL=http://localhost:5001/api/v1
VITE_ACADEMIC_API_URL=http://localhost:5004/api/v1
VITE_GOOGLE_CLIENT_ID=226824056804-foitsmmvdja54d5amhs9iu95o7ula6ka.apps.googleusercontent.com
